<div class="container">
    <form>

        <div class="form-group">
            <label for="Report_Number">Report_Number</label>
            <input type="text" id="Report_Number" class="form-control">

        </div>
        <div class="form-group">
            <label for="Id_Supporter">Id_Supporter</label>
            <input type="text" id="Id_Supporter" class="form-control">
        </div>
        <div class="form-group">
            <label for="Classification">Classification</label>
            <input type="text" id="Classification" class="form-control">
        </div>
        <div class="form-group">
            <label for="Status">Status</label>
            <input type="text" id="Status" class="form-control">
        </div>
        <div class="form-group">

            <label for="Resolution_Comment">Resolution_Comment</label>
            <input type="text" id="Resolution_Comment" class="form-control">
        </div>



        <button (click)="createIssue()" class="btn btn-success">Crear</button>

    </form>

</div>