<h2>Asignación de soportista a casos</h2>

<hr />
<div *ngIf="issue">
    <div>
        <label><b>Report Number: </b></label> {{issue.Report_Number}}
    </div>
    <div>
        <label><b>Support: </b></label>
        <select id="cars" name="cars">
            <option *ngFor="let Support of supports | async" value="{{Support.Id_Supporter}}">{{Support.Name}}
            </option>

        </select>

    </div>
    <div>
        <label><b>Classification: </b></label>
        <input type="text" id="Classification" class="form-control" value="{{issue.Classification}}">

    </div>
    <!--

 <div>
        <label><b>Status: </b></label>
        <input type="text" id="Status" class="form-control" value=" {{issue.Status}}">
    </div>
    <div>
        <label><b>Comentarios: </b></label>
        <input type="text" id="Resolution_Comment" class="form-control" value="{{issue.Resolution_Comment}}">
    </div>


    -->


</div>
<br>
<button (click)="list()" class="btn btn-primary">Volver a lista de casos</button>