<div class="container">
    <br>
    <h3>Registro de Soportista</h3>
    <br>
    <!--<form [formGroup]="supportForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>-->
    <form>
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text" class="form-control" id="Name">
        </div>
        <div class="form-group">
            <label>Primer apellido: </label>
            <input type="text" class="form-control" id="First_L" [ngClass]="{ 'is-invalid': submitted }">
            <div *ngIf="submitted && this.email.errors" class="invalid-feedback">
                <div *ngIf="this.email.errors.required">Se requiere el correo</div>
            </div>
        </div>
        <div class="form-group">
            <label>Segundo apellido: </label>
            <input type="text" class="form-control" id="Second_L">
        </div>
        <div class="form-group">
            <label>Correo electrónico: </label>
            <input type="text" class="form-control" id="Email">
        </div>
        <div class="form-group">
            <label>Contraseña: </label>
            <input type="text" class="form-control" id="Pass">
        </div>
        <div class="form-group">
            <label>¿Es un soportista supervisor?</label>
            <div class="custom-control custom-radio">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="supervisor" (change)="foroMostrar()"
                    id="defaultUncheckedR1" name="defaultExampleRadios">
                <label class="custom-control-label" for="defaultUncheckedR1">Sí</label>
            </div>
            <!--<div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="defaultUncheckedR2" name="defaultExampleRadios">
                <label class="custom-control-label" for="defaultUncheckedR2">No</label>
            </div> -->
        </div>
        <div class="form-group">
            <label>Servicios a los que da soporte</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Telefonía Móvil</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked2">
                <label class="custom-control-label" for="defaultUnchecked2">Cable</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked3">
                <label class="custom-control-label" for="defaultUnchecked3">Internet</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked4">
                <label class="custom-control-label" for="defaultUnchecked4">Telefonía Fija</label>
            </div>
        </div>
        <div class="form-group">
            <button (click)="createSupport()" class="btn btn-primary">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>